@media (max-width: 420px) {
    .first-card-row {
      flex-direction: column;
    }
    
    .gta-img {
      margin-right: 0;
      margin-bottom: 24px;
    }
    
    .fortnite-img {
      margin: 0;
    }
    .hero-title {
      font-size: 38px;
    }
    .footer-content {
      flex-direction: column;
    }
    .footer-link:nth-child(2) {
      margin: 0;
    }
    }

@media (max-width: 1400px) {
    .hero-title {
    font-size: 48px;
    }
    .hero-desc {
    font-size: 20px;
    }
}

@media (max-width: 1400px) {
    .hero-title {
        font-size: 48px;
    }

    .hero-desc {
        font-size: 20px;
    }  
}

@media (max-width: 991px) {
    .menu-bg {
        background-color: #323335;
    }
    .menu-btn {
        background-color: #fff;
    }
    .nav-link:nth-child(2) {
        margin: 0 !important;
    }
    .btn-purple {
        display: block;
    }
    }